body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #95c7f8;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],

select {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px; /* Augmentez la valeur de la marge pour plus d'espace */
}

button {
  padding: 12px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b4e2e6;
  padding: 20px;
  border: 1px solid #6fa3a7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease;
}

.popup-close:hover {
  color: #007BFF;
}


